<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}

<link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700%7CPT+Serif:400,700,400italic' rel='stylesheet' type='text/css'>

<link rel="stylesheet" href="../vertical-timeline/css/reset.css"> <!-- CSS reset -->
<link rel="stylesheet" href="../vertical-timeline/css/style.css"> <!-- Resource style -->
<script src="../vertical-timeline/js/modernizr.js"></script> <!-- Modernizr -->

</head>

<body class="post">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

<div id="main" role="main">

  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>
  
  <!--Main Timeline Content START-->

<section id="cd-timeline" class="cd-container">
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="../vertical-timeline/img/cd-icon-picture.svg" alt="Picture">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Title of section 1</h2>
        <span class="cd-date">Jan 14</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->


    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="../vertical-timeline/img/cd-icon-picture.svg" alt="Picture">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Title of section 1</h2>
        <span class="cd-date">Jan 14</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->

    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="../vertical-timeline/img/cd-icon-picture.svg" alt="Picture">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Title of section 1</h2>
        <span class="cd-date">Jan 14</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->


    <!---Created the Website - First Post-->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="../vertical-timeline/img/cd-icon-location.svg" alt="Picture">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Hello World!    Sat all night & created this website</h2>
        <span class="cd-date">6th Dec 2014 Bangalore</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->    
    
  </section> <!-- cd-timeline -->

<!--Main Timeline Content END-->

</div><!-- /#main -->



<div class="footer-wrap">
  <div class="related-articles">
  
    <ul>
    {% for post in site.related_posts limit:3 %}
      <li><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a></li>
    {% endfor %}
    </ul>
    <hr />
  </div><!-- /.related-articles -->
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}	        

</body>
</html>