<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
  {% include _head.html %}

  <!-- <link rel="stylesheet" href="../vertical-timeline/css/reset.css">-->
<!-- <link rel="stylesheet" href="../vertical-timeline/css/style.css"> 
  <!-- <script src="../vertical-timeline/js/modernizr.js"></script> -->

</head>

<body class="post-index">

  {% include _browser-upgrade.html %}

  {% include _navigation.html %}


  <div id="main" role="main">
    <div class="article-author-side">
      {% include _author-bio.html %}
    </div>


    <div id="index">
      <!--Main Timeline Content START-->

      <h2>2015</h2>
      <ul>
        <li>Project Accelerator by DataKind on 23rd Aug @ Bloomreach, Bangalore</li>
        <li>Speaker at the Firebase Event by Google Developers Group Bangalore on 22nd Aug @ Apigee, Bangalore</li>
        <li>The Fifth Elephant by hasgeek on 16th & 17th July @ Bangalore.</li>
        <li>Google Cloud Platform User Group Meetup on 10th Jul @ Google, Bangalore.</li>
        <li>AI Learnup by Venturesity on 4th Jul @ Amazon Web Services, Bangalore.</li>
        <li>Code Pursuit by Google Developers Group Bangalore on 22nd Mar @ Red Hat, Bangalore.</li>
        <li>Data Dive by DataKind on 21st Mar @ Apigee, Bangalore.</li>
        <li>Bangalore Android App Expo 2015 on 28th Feb @ Bangalore.</li>
        <li>BangPypers - February Python Meetup on 21st Feb @ Bangalore.</li>
        <li>Google UX Design Sprint on 12th & 13th Feb @ Google, Bangalore.</li>
        <li>Google App Engine Meetup on 7th Feb @ Apigee, Bangalore.</li>
        <li>Judge at Hackadroid'15 on 9th Jan @ Google, Bangalore.</li>
      </ul>

      <h2>2014</h2>
      <ul>
        <li>BangPypers - Python Open Source Dev Sprint on 20th Dec @ Apigee, Bangalore.</li>
        <li>Google Asia Community Summit on 29th & 30th Aug @ Sri Lanka.</li>
      </ul>

      <!--Main Timeline Content END-->
    </div><!-- /#index -->
  </div><!-- /#main -->

  <div class="footer-wrap">
    <footer>
      {% include _footer.html %}
    </footer>
  </div><!-- /.footer-wrap -->

  {% include _scripts.html %}
  
</body>
</html>