<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}

<!-- <link rel="stylesheet" href="../vertical-timeline/css/reset.css">-->
<link rel="stylesheet" href="../vertical-timeline/css/style.css"> <!-- Resource style -->
<!-- <script src="../vertical-timeline/js/modernizr.js"></script> -->

</head>

<body class="post-index">

{% include _browser-upgrade.html %}

{% include _navigation.html %}


<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
  </div>


  <div id="index">

    <!--Main Timeline Content START-->

<section id="cd-timeline" class="cd-container">

    <!-- Bought the domain - kartikkannapur.com-->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="../vertical-timeline/img/cd-icon-picture.svg" alt="Picture">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>kartikkannapur.com goes live</h2>
        <span class="cd-date">7th Dec 2014&#44; Bangalore</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->


    <!---Created the Website - First Post-->
    <div class="cd-timeline-block">
      <div class="cd-timeline-img cd-picture">
        <img src="../vertical-timeline/img/cd-icon-location.svg" alt="Picture">
      </div> <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2>Hello World!</h2>
        <span class="cd-date">6th Dec 2014&#44; Bangalore</span>
      </div> <!-- cd-timeline-content -->
    </div> <!-- cd-timeline-block -->    
  </section> <!-- cd-timeline -->

<!--Main Timeline Content END-->

  </div><!-- /#index -->
</div><!-- /#main -->

<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
  
</body>
</html>